In [2]:
pip install gcsfs

Requirement already satisfied: gcsfs in c:\users\chirubhai\anaconda3\lib\site-packages (2021.6.0)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: requests in c:\users\chirubhai\anaconda3\lib\site-packages (from gcsfs) (2.25.1)
Requirement already satisfied: fsspec==2021.06.0 in c:\users\chirubhai\anaconda3\lib\site-packages (from gcsfs) (2021.6.0)
Requirement already satisfied: google-auth>=1.2 in c:\users\chirubhai\anaconda3\lib\site-packages (from gcsfs) (1.31.0)
Requirement already satisfied: google-auth-oauthlib in c:\users\chirubhai\anaconda3\lib\site-packages (from gcsfs) (0.4.4)
Requirement already satisfied: aiohttp in c:\users\chirubhai\anaconda3\lib\site-packages (from gcsfs) (3.7.4.post0)
Requirement already satisfied: decorator in c:\users\chirubhai\anaconda3\lib\site-packages (from gcsfs) (5.0.6)
Requirement already satisfied: setuptools>=40.3.0 in c:\users\chirubhai\anaconda3\lib\site-packages (from google-auth>=1.2->gcsfs) (52.0.0.post20210125)
Requirement already satisfied: pyasn1-modules>=0.2.1 in c:\users\chirubhai\anaconda3\lib\site-packages (from google-auth>=1.2->gcsfs) (0.2.8)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in c:\users\chirubhai\anaconda3\lib\site-packages (from google-auth>=1.2->gcsfs) (4.2.2)
Requirement already satisfied: rsa<5,>=3.1.4 in c:\users\chirubhai\anaconda3\lib\site-packages (from google-auth>=1.2->gcsfs) (4.7.2)
Requirement already satisfied: six>=1.9.0 in c:\users\chirubhai\anaconda3\lib\site-packages (from google-auth>=1.2->gcsfs) (1.15.0)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in c:\users\chirubhai\anaconda3\lib\site-packages (from pyasn1-modules>=0.2.1->google-auth>=1.2->gcsfs) (0.4.8)
Requirement already satisfied: multidict<7.0,>=4.5 in c:\users\chirubhai\anaconda3\lib\site-packages (from aiohttp->gcsfs) (5.1.0)
Requirement already satisfied: typing-extensions>=3.6.5 in c:\users\chirubhai\anaconda3\lib\site-packages (from aiohttp->gcsfs) (3.7.4.3)
Requirement already satisfied: attrs>=17.3.0 in c:\users\chirubhai\anaconda3\lib\site-packages (from aiohttp->gcsfs) (20.3.0)
Requirement already satisfied: chardet<5.0,>=2.0 in c:\users\chirubhai\anaconda3\lib\site-packages (from aiohttp->gcsfs) (4.0.0)
Requirement already satisfied: async-timeout<4.0,>=3.0 in c:\users\chirubhai\anaconda3\lib\site-packages (from aiohttp->gcsfs) (3.0.1)
Requirement already satisfied: yarl<2.0,>=1.0 in c:\users\chirubhai\anaconda3\lib\site-packages (from aiohttp->gcsfs) (1.6.3)
Requirement already satisfied: idna>=2.0 in c:\users\chirubhai\anaconda3\lib\site-packages (from yarl<2.0,>=1.0->aiohttp->gcsfs) (2.10)
Requirement already satisfied: requests-oauthlib>=0.7.0 in c:\users\chirubhai\anaconda3\lib\site-packages (from google-auth-oauthlib->gcsfs) (1.3.0)
Requirement already satisfied: oauthlib>=3.0.0 in c:\users\chirubhai\anaconda3\lib\site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib->gcsfs) (3.1.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\chirubhai\anaconda3\lib\site-packages (from requests->gcsfs) (1.26.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\chirubhai\anaconda3\lib\site-packages (from requests->gcsfs) (2020.12.5)

In [3]:
import great_expectations as ge
import pandas as pd
import gcsfs

In [4]:
df = ge.read_csv('gs://hr_data_project/HR Case Study.csv',encoding= 'unicode_escape')

In [5]:
df.head()

,Name,Gender,Department,Annual Salary,Location,Rating,Distance to Office,Age,Tenure in Company
0,Aarti Panchal,Female,CEO,10000000,Mumbai,Very Good,25,31,10.4
1,Aastha Behl,Female,Sales,880500,Bengaluru,Very Good,7,40,18.2
2,Abhinaw Sinha,Male,Engineering,682200,Bengaluru,Good,15,28,6.6
3,Abhishek Dabb,Male,Legal,563700,New Delhi,Very Good,5,39,13.3
4,Abhishek Kumar Preetam,Male,Support,1070900,New Delhi,Poor,10,26,4.8

In [6]:
pg=df.describe()

In [7]:
pg

       Annual Salary  Distance to Office         Age  Tenure in Company
count   8.750000e+02          875.000000  875.000000          875.00000
mean    7.488999e+05           15.101714   33.537143            6.82800
std     4.116801e+05            8.275156    4.394393            4.60058
min     2.813000e+05            1.000000   26.000000            0.00000
25%     5.062500e+05            8.000000   30.000000            3.30000
50%     7.428000e+05           15.000000   34.000000            6.10000
75%     9.679500e+05           22.000000   37.000000            9.70000
max     1.000000e+07           29.000000   41.000000           20.40000

In [8]:
pg.to_csv('gs://error_hr/error.csv')

In [9]:
df.Gender.value_counts()

Female          432
Male            423
Not Revealed     20
Name: Gender, dtype: int64

In [10]:
dg = ge.read_csv('gs://hr_data_project/Employee_monthly_salary.csv',encoding= 'unicode_escape')

In [11]:
dg.head()

,EmpID,Name,Gender,Date_of_Birth,Age,Join_Date,Tenure_in_org_in_months,GROSS,Net_Pay,Deduction,Deduction_percentage,Designation,Department
0,19575,Keven Norman,M,3/9/94,25,2/12/19,7,74922,71494,3428,4.58,Product Operations Analyst.Associate.,IT Product Management & Ops
1,19944,Kristin Werner,F,23/06/1994,26,13/01/2020,6,44375,39971,4404,9.92,Platform Operations Engineer.Associate.,Platform Operations
2,20055,Avery Barber,M,27/02/1996,24,14/11/2019,8,82263,77705,4558,5.54,Platform Operations Engineer.Associate.,Platform Operations
3,20058,Boris Gibson,M,29/09/1993,26,13/01/2020,6,44375,40164,4211,9.49,Platform Operations Engineer.Associate.,Platform Operations
4,20332,Leif Mack,M,1/5/91,29,4/6/18,25,235405,143963,91442,38.84,Software Engineer.Senior.,Enterprise Access Engineering

In [12]:
GF=dg.expect_column_values_to_be_unique('EmpID',result_format='SUMMARY',meta='dict')

In [13]:
GF

{
  "result": {
    "element_count": 1802,
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0,
    "partial_unexpected_list": [],
    "partial_unexpected_index_list": [],
    "partial_unexpected_counts": []
  },
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "meta": "dict",
  "success": true
}

In [14]:
dg.expect_column_distinct_values_to_be_in_set("Gender",['M','F'])

{
  "result": {
    "observed_value": [
      "F",
      "M"
    ],
    "element_count": 1802,
    "missing_count": null,
    "missing_percent": null
  },
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "meta": {},
  "success": true
}

In [15]:
df.expect_column_distinct_values_to_be_in_set("Gender",['Male','Female'],)

{
  "result": {
    "observed_value": [
      "Female",
      "Male",
      "Not Revealed"
    ],
    "element_count": 875,
    "missing_count": null,
    "missing_percent": null
  },
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "meta": {},
  "success": false
}

In [16]:
df.expect_column_distinct_values_to_equal_set("Gender",['Male','Female'],result_format='COMPLETE',catch_exceptions='boolean')

{
  "result": {
    "observed_value": [
      "Female",
      "Male",
      "Not Revealed"
    ],
    "element_count": 875,
    "missing_count": null,
    "missing_percent": null,
    "details": {
      "value_counts": [
        {
          "value": "Female",
          "count": 432
        },
        {
          "value": "Male",
          "count": 423
        },
        {
          "value": "Not Revealed",
          "count": 20
        }
      ]
    }
  },
  "exception_info": {
    "raised_exception": false,
    "exception_message": null,
    "exception_traceback": null
  },
  "meta": {},
  "success": false
}

In [17]:
df.get_expectation_suite()

{
  "expectations": [],
  "meta": {
    "great_expectations_version": "0.13.19"
  },
  "data_asset_type": "Dataset",
  "expectation_suite_name": "default"
}

In [18]:
dg.get_expectation_suite()

{
  "expectations": [
    {
      "meta": "dict",
      "expectation_type": "expect_column_values_to_be_unique",
      "kwargs": {
        "column": "EmpID"
      }
    },
    {
      "meta": {},
      "expectation_type": "expect_column_distinct_values_to_be_in_set",
      "kwargs": {
        "column": "Gender",
        "value_set": [
          "M",
          "F"
        ]
      }
    }
  ],
  "meta": {
    "great_expectations_version": "0.13.19"
  },
  "data_asset_type": "Dataset",
  "expectation_suite_name": "default"
}

In [19]:
df.get_expectation_suite(discard_failed_expectations=False)

{
  "expectations": [
    {
      "meta": {},
      "expectation_type": "expect_column_distinct_values_to_be_in_set",
      "kwargs": {
        "column": "Gender",
        "value_set": [
          "Male",
          "Female"
        ]
      }
    },
    {
      "meta": {},
      "expectation_type": "expect_column_distinct_values_to_equal_set",
      "kwargs": {
        "column": "Gender",
        "value_set": [
          "Male",
          "Female"
        ]
      }
    }
  ],
  "meta": {
    "great_expectations_version": "0.13.19"
  },
  "data_asset_type": "Dataset",
  "expectation_suite_name": "default"
}

In [20]:
import json

with open( "my_expectation_file.json", "w") as my_file:
    my_file.write(
        json.dumps(dg.get_expectation_suite().to_json_dict())
    )

In [21]:
pip install --upgrade google-cloud-storage

Requirement already satisfied: google-cloud-storage in c:\users\chirubhai\anaconda3\lib\site-packages (1.38.0)
Requirement already satisfied: google-cloud-core<2.0dev,>=1.4.1 in c:\users\chirubhai\anaconda3\lib\site-packages (from google-cloud-storage) (1.6.0)
Requirement already satisfied: google-auth<2.0dev,>=1.11.0 in c:\users\chirubhai\anaconda3\lib\site-packages (from google-cloud-storage) (1.31.0)
Requirement already satisfied: requests<3.0.0dev,>=2.18.0 in c:\users\chirubhai\anaconda3\lib\site-packages (from google-cloud-storage) (2.25.1)
Requirement already satisfied: google-resumable-media<2.0dev,>=1.2.0 in c:\users\chirubhai\anaconda3\lib\site-packages (from google-cloud-storage) (1.3.0)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in c:\users\chirubhai\anaconda3\lib\site-packages (from google-auth<2.0dev,>=1.11.0->google-cloud-storage) (4.2.2)
Requirement already satisfied: setuptools>=40.3.0 in c:\users\chirubhai\anaconda3\lib\site-packages (from google-auth<2.0dev,>=1.11.0->google-cloud-storage) (52.0.0.post20210125)
Requirement already satisfied: six>=1.9.0 in c:\users\chirubhai\anaconda3\lib\site-packages (from google-auth<2.0dev,>=1.11.0->google-cloud-storage) (1.15.0)
Requirement already satisfied: rsa<5,>=3.1.4 in c:\users\chirubhai\anaconda3\lib\site-packages (from google-auth<2.0dev,>=1.11.0->google-cloud-storage) (4.7.2)
Requirement already satisfied: pyasn1-modules>=0.2.1 in c:\users\chirubhai\anaconda3\lib\site-packages (from google-auth<2.0dev,>=1.11.0->google-cloud-storage) (0.2.8)
Requirement already satisfied: google-api-core<2.0.0dev,>=1.21.0 in c:\users\chirubhai\anaconda3\lib\site-packages (from google-cloud-core<2.0dev,>=1.4.1->google-cloud-storage) (1.30.0)
Requirement already satisfied: protobuf>=3.12.0 in c:\users\chirubhai\anaconda3\lib\site-packages (from google-api-core<2.0.0dev,>=1.21.0->google-cloud-core<2.0dev,>=1.4.1->google-cloud-storage) (3.17.3)
Requirement already satisfied: googleapis-common-protos<2.0dev,>=1.6.0 in c:\users\chirubhai\anaconda3\lib\site-packages (from google-api-core<2.0.0dev,>=1.21.0->google-cloud-core<2.0dev,>=1.4.1->google-cloud-storage) (1.53.0)
Requirement already satisfied: pytz in c:\users\chirubhai\anaconda3\lib\site-packages (from google-api-core<2.0.0dev,>=1.21.0->google-cloud-core<2.0dev,>=1.4.1->google-cloud-storage) (2021.1)
Requirement already satisfied: packaging>=14.3 in c:\users\chirubhai\anaconda3\lib\site-packages (from google-api-core<2.0.0dev,>=1.21.0->google-cloud-core<2.0dev,>=1.4.1->google-cloud-storage) (20.9)
Requirement already satisfied: google-crc32c<2.0dev,>=1.0 in c:\users\chirubhai\anaconda3\lib\site-packages (from google-resumable-media<2.0dev,>=1.2.0->google-cloud-storage) (1.1.2)
Requirement already satisfied: cffi>=1.0.0 in c:\users\chirubhai\anaconda3\lib\site-packages (from google-crc32c<2.0dev,>=1.0->google-resumable-media<2.0dev,>=1.2.0->google-cloud-storage) (1.14.5)
Requirement already satisfied: pycparser in c:\users\chirubhai\anaconda3\lib\site-packages (from cffi>=1.0.0->google-crc32c<2.0dev,>=1.0->google-resumable-media<2.0dev,>=1.2.0->google-cloud-storage) (2.20)
Requirement already satisfied: pyparsing>=2.0.2 in c:\users\chirubhai\anaconda3\lib\site-packages (from packaging>=14.3->google-api-core<2.0.0dev,>=1.21.0->google-cloud-core<2.0dev,>=1.4.1->google-cloud-storage) (2.4.7)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in c:\users\chirubhai\anaconda3\lib\site-packages (from pyasn1-modules>=0.2.1->google-auth<2.0dev,>=1.11.0->google-cloud-storage) (0.4.8)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\chirubhai\anaconda3\lib\site-packages (from requests<3.0.0dev,>=2.18.0->google-cloud-storage) (4.0.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\chirubhai\anaconda3\lib\site-packages (from requests<3.0.0dev,>=2.18.0->google-cloud-storage) (2020.12.5)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\chirubhai\anaconda3\lib\site-packages (from requests<3.0.0dev,>=2.18.0->google-cloud-storage) (1.26.4)
Requirement already satisfied: idna<3,>=2.5 in c:\users\chirubhai\anaconda3\lib\site-packages (from requests<3.0.0dev,>=2.18.0->google-cloud-storage) (2.10)
Note: you may need to restart the kernel to use updated packages.

In [22]:
from google.cloud import storage
from google.oauth2 import service_account

In [23]:
ri=dg.expect_column_distinct_values_to_be_in_set("Gender",['M','F'])

In [24]:
ri

{
  "result": {
    "observed_value": [
      "F",
      "M"
    ],
    "element_count": 1802,
    "missing_count": null,
    "missing_percent": null
  },
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "meta": {},
  "success": true
}

In [25]:
ri.success

True

In [26]:
ri=dg.expect_column_distinct_values_to_be_in_set("Gender",['M','F'])

In [29]:
ri.success

True